<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>13.0.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This application integrates with Stripe for card processing. To protect buyers and sellers, Stripe requires your location to process payments.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This application integrates with Stripe for card processing. Stripe uses Bluetooth to connect your device to compatible hardware.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This application integrates with Stripe for card processing. Stripe uses Bluetooth to connect your device to compatible hardware.</string>
</dict>
</plist>
